$primary: #d4af37;
$secondary: #b87333;
$offwhite: #fff7f0;
$shadow: rgba(50, 50, 50, 0.5);

$max-width: 1152px;

:export {
    primary: $primary;
    secondary: $secondary;
    offwhite: $offwhite;
}
