@import '@global/_vars';
@import '@global/_mixins';

.accountChart {
    @include background-gradient;

    .inner {
        display: flex;
        height: 30vh;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $max-width;
        min-height: 300px;
        align-items: center;

        & > div {
            flex: 1 1 1px;

            &:nth-child(2) {
                max-width: 40%;
                rect {
                    fill: transparent;
                }

                path {
                    stroke: transparent;
                }
            }

            &.legend > div {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;

                * {
                    display: inline-block;
                }

                .circle {
                    border-radius: 18px;
                    height: 18px;
                    margin-right: 0.5rem;
                    margin-bottom: -3px;
                    width: 18px;
                }
            }
        }
    }
}

.summaries {
    max-width: $max-width;
    margin: 2.5rem auto 0;

    & > hr {
        margin: 5rem 0;
    }

    .accountGroup {
        background-color: white;
        border-left-style: solid;
        border-left-width: 8px;
        box-shadow: 3px 3px 10px 0px $shadow;
        margin: 1rem 0;
        padding: 1rem;

        .accountRow {
            display: flex;
            justify-content: space-between;

            &:first-child *,
            &:last-child * {
                font-weight: bold !important;
            }

            & > * {
                flex: 0 0 20%;

                &:not(:first-child) {
                    text-align: right;
                }
            }
        }

        hr {
            border-color: $secondary;
        }
    }
}
