.basic {
    display: inline;
    enable-background: accumulate;
    fill-opacity: 1;
    fill-rule: nonzero;
    marker-end: none;
    marker-mid: none;
    marker-start: none;
    marker: none;
    overflow: visible;
    stroke-dashoffset: 0;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 0;
    stroke: #4b2c1a;
    visibility: visible;
};

.other {
    fill-opacity: 1;
    font-family: Bitstream Vera Sans;
    font-size: 373.34881592px;
    font-style: normal;
    font-weight: normal;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-opacity: 1;
    stroke-width: 1px;
    stroke: none;
    text-align: start;
    text-anchor: start;
}