@import '@global/_vars';

html {
    font-size: 8px;
    background-color: $offwhite;
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: unset;
}

h1, h2, h3, h4, h5 {
    color: $primary;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
    line-height: 5rem;
}

h4 {
    font-size: 2.25rem;
}