@import '@global/_vars';

.toolbar {
    background-color: $primary;

    .row {
        align-items: center;
        color: $offwhite;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $max-width;
        padding: 0.5rem 0;

        & > * > * {
            margin: 0 0.5rem;
        }

        svg {
            height: 3rem;
            width: auto;
        }

        .logoText {
            display: inline-block;
            margin-right: 1rem;

            & > * {
                display: inline-block;
                vertical-align: middle;
            }

            h1 {
                font-size: 30px;
                font-weight: bold;
                color: $offwhite;
            }
        }

        button {
            text-transform: none;
            color: $offwhite;
        }
    }

    .actions {
        background-color: $offwhite;

        * {
            color: $primary !important;
            font-weight: bold;
        }
    }
}
